/* FOGLIO DI STILE */

/* GENERALI----------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

li {
  text-decoration: none;
}

.tocenter {
  text-align: center;
}

.flexbox {
  display: flex;
  justify-content: flex-start;

}



/* NAVIGATORE ----------------------------------------- */
nav {
  position: fixed;
  left:0;
  top:0;
  height: calc(100vh - 90px);
  width: 230px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  height: 90px;
  width:230px;
}

#logo img {
  width: 133px;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
}

nav li img {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

nav li h3 {
  color: white;
  font-weight: 300;
  font-size: 13px;

}

nav ul li{
  height: 35px;
  padding-left: 17px;
  display: flex;
  align-items: center;
}

#playlist {
  padding: 20px;
}

#playlist h2 {
  font-size: 14px;
  margin-bottom: 10px;
}

#creaplaylist {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#creaplaylist h3 {
  font-size: 15px;
  font-weight: 300;
}

#creaplaylist div {
  height: 37px;
  width: 37px;
  background: grey;
  font-size: 30px;
  line-height: 37px;
  color: black;
  text-align: center;
  margin-right: 5px;
}

#playlist li {
  padding-left: 0;
  font-size: 13px;
}

#undernav {
  padding: 0 20px;
}

#undernav .sopra {
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

#undernav .sotto {
  margin-top: 20px;
}
/* BOX TRASPARENTE ------------------------------------------ */
#transparent {
  position: fixed;
  top: 0;
  margin-left: 230px;
  width: calc(100vw - 230px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

#transparent h3{
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 12px;
}





/* BOXMUSICA ------------------------------------------------- */
#boxmusica {
  width: calc(100vw - 230px);
  height: calc(100vh - 90px);
  margin-left: 230px;
  background-color: #141922;
  overflow: auto;
}

#boxmusica ul{

  margin-top: 100px;

}

#boxmusica ul li {
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

.flexboxspacebetween div {
  width: 50px;
  height: 70px;
  background-color: red;
}

.flexbox div {
  width: calc(100% / 6);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.flexbox div img {
  display: block;
  width: 300px;
  height: 300px;
}

.musicsection div h3{
  margin-left: 40px;
  font-size: 24px;
}

.musicsection div h4 {
  margin-left: 40px;
  font-size: 12px;
  margin-top: 10px;
  color: #62666b;
}

.musicsection div h5 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.musicsection div h6 {
  font-size: 12px;
  color: #62666b;
}

.rounded {
  border-radius: 100%;
}







/* PLAYER MUSICALE ----------------------------------------------- */
#player {
  width: 100vw;
  height: 90px;
  position: fixed;
  bottom: 0;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
}

#player .sinistra {
  /* DEBUG:  */
  width: 300px;
  height: 100%;
  background-color: green;
}

#player .centro{
  /* DEBUG:  */
  width: 700px;
  height: 100%;
  background-color: green;
}

#player .destra {
  /* DEBUG:  */
  width: 300px;
  height: 100%;
  background-color: green;
}
