/* FOGLIO DI STILE */

/* GENERALI----------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #63605c;
}

a:hover {
  color: white;
}

#creaplaylist:hover {
  color: white;
}



.tocenter {
  text-align: center;
}

.toright {
  text-align: right;
}

.flexbox {
  display: flex;
  justify-content: flex-start;
}



/* NAVIGATORE ----------------------------------------- */
nav {
  position: fixed;
  left:0;
  top:0;
  height: calc(100vh - 90px);
  width: 230px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  height: 90px;
  width:230px;
}

#logo img:nth-child(2) {
  width: 133px;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
}

#logo img:nth-child(1) {
  display: none;
  width: 28px;
  height: 28px;
}

nav li {
  display: flex;
}

nav li img {
  width: 26px;
  height: 26px;
  margin-right: 5px;
}

#uppernav {
  padding-left: 20px;
}

nav li h3 {
  color: white;
  font-weight: 300;
  font-size: 13px;
}

nav ul li a{
  margin: 11px 0;
}

nav ul li {
  display: flex;
  align-items: center;
}

a:hover h3{
  color: white;
}

nav ul li h3 {
  color: rgba(255, 255, 255, 0.4);
}

nav ul li:nth-child(1) h3 {
  color: white;
}

#playlist {
  padding: 20px;
  overflow:auto;
}

#playlist h2 {
  font-size: 14px;
  margin-bottom: 10px;
}

#creaplaylist a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#creaplaylist a:hover div {
  background-color: white;
}

#creaplaylist a:hover h3{
  color: white;
}

#creaplaylist h3 {
  font-size: 15px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
}

#creaplaylist div {
  height: 37px;
  width: 37px;
  background: grey;
  font-size: 30px;
  line-height: 37px;
  color: black;
  text-align: center;
  margin-right: 5px;
}

#playlist li {
  padding-left: 0;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
}

#undernav {
  padding: 0 20px;
}

#undernav .sopra {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#undernav .sotto {
  display: flex;
  align-items: center;
}

#undernav .sotto span {
  margin: 15px 0 7px 0;
  font-size: 14px;
  font-weight: bold;
}

#undernav .sopra h5 {
  align-items: center;
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
}

#undernav .sopra img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

#undernav .sotto img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background: grey;
  border-radius: 50%;
}


#undernav h5:hover {
  color: white;
}
/* BOX TRASPARENTE ------------------------------------------ */
#transparent {
  position: fixed;
  top: 0;
  margin-left: 230px;
  width: calc(100vw - 230px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

#transparent h3{
  color: white;
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 12px;
}

#transparent a:hover h3 {
  transform: scale(1.1);
}





/* BOXMUSICA ------------------------------------------------- */
#boxmusica {
  width: calc(100vw - 230px);
  height: calc(100vh - 90px);
  margin-left: 230px;
  background-color: #141922;
  overflow: auto;
}

.items li.active {
  position: relative;
}

.items li.active:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: greenyellow;
}

#boxmusica ul{

  margin-top: 100px;

}

#boxmusica ul li {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
}


#recentplay,
#creatoper,
#artistipopolari {
  display: flex;
  flex-wrap: wrap;
}



#recentplay .scheda,
#creatoper .scheda,
#artistipopolari .scheda{
  flex-basis:calc(100% / 6);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}


#recentplay div img,
#creatoper div img,
#artistipopolari div img {
  display: block;
  width: 100%;
  min-width: 150px;
  height: auto;
}

.coverimg {
  display: flex;
  justify-content: center;
  position: relative;
}

#recentplay div {
  flex-shrink: 1;
}

.musicsection div h3{
  margin-top: 50px;
  margin-left: 40px;
  font-size: 24px;
}

.musicsection div h4 {
  margin-left: 40px;
  font-size: 12px;
  margin-top: 10px;
  color: #62666b;
}

.musicsection div h5 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.musicsection div h6 {
  font-size: 12px;
  color: #62666b;
}

.rounded {
  border-radius: 100%;
}

.scheda {
  position: relative;
  cursor: pointer;
}

.layover {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  min-width: 150px;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}

.scheda:hover .layover {
  display: block;
}

#artistipopolari .layover {
  border-radius: 100%;
}




/* PLAYER MUSICALE ----------------------------------------------- */
#player {
  width: 100vw;
  height: 90px;
  position: fixed;
  bottom: 0;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/* SINISTRA--------- */
#player .sinistra {
  width: 230px;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

#player .sinistra h5 a {
  color: white;
}

#player .sinistra h5:hover {
  color: white;
  text-decoration:underline;
}


#player .sinistra h6,
#player .sinistra i
 {
  color: rgba(255, 255, 255, 0.4);
}

#player .sinistra h6 a:hover {
  text-decoration: underline;
}

#player .sinistra a i:hover {
  color: white;
}



#player .sinistra img {
  width: 42px;
  height: 42px;
}

.sinistra .flexbox {
  align-items: center;
}

#minibox {
  width: 70%;
  padding-left: 10px;
}

#player i {
  margin-right: 15px;
}



/* CENTRO ----------- */
#player .centro{
  width: 1024px;
  height: 100%;
}

#player .centro .sopra {
  width: 100%;
  height: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
}

.sopra a i {
  margin: 0 10px;
  color: white;
}

#tastoplay:hover {
  transform: scale(1.1);
}

.sopra a:nth-child(3) i {
  font-size: 30px;
}

#player .centro .sotto {
  width: 100%;
  height: 50%;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

.sotto span {
  font-size: 12px;
}

.playerbar {
  width: 80%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.barracaricamento {
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  position: relative;
}

.pallinoplayer {
  display: none;
  width:13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top:50%;
  left: 100%;
  transform: translate(-50%, -50%);

}

.playerbar:hover div {
  background-color: greenyellow;
}

.playerbar:hover .pallinoplayer {
  display: block;
  background-color: white;
}



/* DESTRA------------- */
#player .destra {
  width: 210px;
  height: 100%;
  display: flex;
  align-items: center;
}

#volumebar{
  width: 80%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  min-width: 50px;
}

#volumebar div {
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

.destra i {
  font-size: 13px;
}


/* MEDIA QUERY ---------------- */

@media screen and (max-width:600px) {
  nav {
    width: 50px;
  }

  #logo img:nth-child(1) {
    display:block;
    width: 28px;
    height: 28px;

  }

  #transparent {
    width: calc(100vw - 50px);
    margin-left: 50px;
  }

  #boxmusica {
    width: calc(100vw - 50px);
    margin-left: 50px;
  }

  #logo img:nth-child(2) {
    display: none;
  }

  #logo {
    height: 28px;
    width: 50px;
    display: flex;
    justify-content: center;
    margin: 5px 0 10px 0;
  }

  nav ul li {
    padding:0;
    height: 35px;
    display: flex;
    justify-content: center;
  }

  nav ul li h3,
  #playlist {
    display: none;
  }

  #undernav h5,
  #undernav span {
    display: none;
  }

  #undernav {
    padding:0;
  }

  #undernav .sopra {
    border: none;
  }

  #undernav .sotto {
    margin-bottom: 10px;
  }

  #undernav .sopra img,
  #undernav .sotto img  {
    margin: 0  auto;
    border: none;
  }






}
